.section_one{
    width: 100%;
    height: 500px;
    background-color: darkgreen;
    margin: auto;
}
.menu_bar{
    width: 90vw;
    height: 30px;
    background-color: darkkhaki;
    margin: auto;
}
.title{
    width: 70vw;
    height: 100px;
    background-color: darkseagreen;
    margin-left: 75px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.free_trial_button{
    width: 30vw;
    height: 40px;
    background-color: lightgreen;
    margin-left: 100px;
}
.section_two{
    width: 100%;
    height: 450px;
    background-color: darkseagreen;
    margin:auto;
    position: absolute;
}
.title_two{
    width: 20vw;
    height: 40px;
    background-color: darkgreen;
    margin:auto;
    margin-top: 40px;
}
.icons{
    width: 80vw;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: auto;
    margin-top: 40px;
}
.icon{
    width: 20vw;
    height: 200px;
    background-color: darkolivegreen;
}
.icon_descriptions{
    width: 80vw;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin: auto;
    margin-top: 15px;
}
.description_one{
    width: 19vw;
    height: 50px;
    background-color: greenyellow;
}
.section_three{
    width: 100%;
    height: 1550px;
    background-color: palegreen;
    margin-top: 450px;
}
.icon_three{
    width: 70vw;
    height: 400px;
    background-color: forestgreen;
    margin: auto;
}
.title_three{
    width: 50vw;
    height: 250px;
    background-color: khaki;
    margin: auto;
    margin-top: 10vw;
}
.information{
    width: 50vw;
    height: 50px;
    background-color: blueviolet;
    margin: auto;
    margin-top: 50px;
}
.icon_four{
    width: 70vw;
    height: 400px;
    background-color: forestgreen;
    margin: auto;
}
.title_four{
    width: 50vw;
    height: 250px;
    background-color: khaki;
    margin: auto;
    margin-top: 10vw;
}
.information_two{
    width: 50vw;
    height: 50px;
    background-color: blueviolet;
    margin: auto;
    margin-top: 50px;
}
.icon_five{
    width: 70vw;
    height: 400px;
    background-color: forestgreen;
    margin: auto;
}
.title_five{
    width: 50vw;
    height: 250px;
    background-color: khaki;
    margin: auto;
    margin-top: 10vw;
}
.information_three{
    width: 50vw;
    height: 50px;
    background-color: blueviolet;
    margin: auto;
    margin-top: 50px;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: seagreen;
    display: block;
    margin-top: 30px;
}