.header{
    width: 100%;
    height: 75px;
    background-color: darkred;
}
.main_image{
    width: 100%;
    height: 350px;
    background-color: lightcoral;
}
.title{
    width: 30vw;
    height: 150px;
    background-color: darkred;
    position: relative;
    float: right;
    margin-top: 100px;
    margin-right: 80px;
}
.phone_number{
    width: 100%;
    height: 75px;
    background-color: brown;
}
.advertisement{
    width: 70vw;
    height: 300px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 50px;
    grid-column-gap: 15px;
    margin-bottom: 75px;
}
.ad_one{
    width: 22vw;
    height: 300px;
    background-color: tomato;
}
.ad_two{
    width: 22vw;
    height: 300px;
    background-color: tomato;
}
.ad_three{
    width: 22vw;
    height: 300px;
    background-color: tomato;
}
.ending_menus{
    width: 85vw;
    height: 600px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    grid-column-gap: 15px;
    margin-bottom: 75px;
}
.menu_one{
    width: 20vw;
    height: 600px;
    background-color: rgb(231, 80, 80);
}
.menu_two{
    width: 20vw;
    height: 600px;
    background-color:rgb(231, 80, 80);
}
.menu_three{
    width: 20vw;
    height: 600px;
    background-color:rgb(231, 80, 80);
}
.menu_four{
    width: 20vw;
    height: 600px;
    background-color: rgb(231, 80, 80);
}
.social_media{
    width: 100%;
    height: 75px;
    background-color: crimson;
}
.footer{
    width: 50vw;
    height: 60px;
    background-color: thistle;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
}