.header{
    width: 100%;
    height: 75px;
    background-color: aqua;
}
.sidebar{
    width: 7vw;
    height: 2325px;
    background-color: deepskyblue;
    display: inline-flex;
    position: absolute;
}
.advertisements{
    width: 60vw;
    height: 500px;
    background-color: darkblue;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    float: right;
    margin-top: 75px;
    margin-right: 150px;
}
.ad_one{
    width: 35vw;
    height: 500px;
    background-color: darkturquoise;
}
.ad-two{
    width: 15vw;
    height: 500px;
    background-color: darkturquoise;
    float: right;
}
.recommended{
    width: 100%;
    height: 250px;
    background-color: wheat;
}
.videos{
    width: 80vw;
    height: 175px;
    background-color: blue;
    float: right;
    margin-top: 75px;
    margin-right: 70px;
}
.description{
    width: 80vw;
    height: 50px;
    background-color: darkblue;
    float: right;
    margin-top: 50px;
    margin-right: 70px;
}